body{
    margin:0;
    padding:0;
}

.background{
    width: 100%;
    height: auto;
    background-image: url(img/maintenance.png);
    object-fit: cover;
}

.example{
    width: 20%;
    height: auto;

}

.logo{
    width: 12%;
    height: auto;
    margin-bottom: 600px;
    margin-left:25%;
}

.contact{
    position: absolute;
    font-size: 3vw;
    margin-top:35%;
    margin-left: 7%;
}


  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    .background{
        width: 40%;
        height: auto;
        background-image: url(img/maintenance.png);
        object-fit: cover;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .background{
        width: 10%;
        height: auto;
        background-image: url(img/maintenance.png);
        object-fit: cover;
    }
  }