body{
    margin:0;
    padding:0;
}

.background{
    width: 100%;
    height: auto;
    background-image: url(img/maintenance.png);
    object-fit: cover;
}

.example{
    width: 20%;
    height: auto;
    margin-top:32%;
}

.logo{
    width: 12%;
    height: auto;
    margin-bottom: 600px;
    margin-left:25%;
}

.contact{
    position: absolute;
    font-size: 3vw;
    margin-top:35%;
    margin-left: 7%;
}

@media screen and (max-width: 800px) {
    
  }